.form {
	&__group:not(:last-child) {
		margin-bottom: 2rem;
	}

	&__input {
		font-size: 1.5rem;
		font-family: inherit; //form input by defualt don't inherit font-family
		padding: 1.5rem 2rem;
		border-radius: 2px;
		color: inherit;
		background-color: rgba($color-white, .5);
		border: none;

		border-bottom: 3px solid transparent; //if also not placed here then the subsequent inputs shift a little when focused because 
																					//of the extra space created on input fous
		width: 90%;
		display: block;
		transition: all .3s;

		@include respond(tab-port){
			width: 100%;
		}

		&:focus {
			outline: none;
			box-shadow: 0 1rem 2rem rgba($color-black, .1);
			border-bottom: 3px solid $color-primary-dark;
		}

		&:focus:invalid {  //when invalid input and focus on, then color is red
			border-bottom: 3px solid $color-secondary-dark;
		}

		&::-webkit-input-placeholder {
			color: $color-grey-dark-2;
		}
	}

	&__label {		//original state when place-holder is not shown and label is visible
		font-size: 1.2rem;
		font-weight: 700;
		margin-left: 2rem;
		margin-top: .7rem;
		display: block;
		transition: all .3s;
	}

	//creates the label transition, where label appears to pop down
	&__input:placeholder-shown + &__label { //the order of selector matters
		opacity: 0;
		visibility: hidden;
		transform: translateY(-4rem);
	}

	//Styling custom radio button
	&__radio-group {
		width: 49%;
		display: inline-block;

		@include respond(tab-port){
			width: 100%;
			margin-bottom: 3rem;
		}
	}

	&__radio-input {
		display: none;
	}

	&__radio-label {
		font-size: $default-font-size;
		cursor: pointer;
		position: relative;
		padding-left: 4.5rem;  //padding prevents the circle from overlapping with text, this way the circle can be placed in padding area
	}

	&__radio-button {
		height: 3rem;
		width: 3rem;
		border: 5px solid $color-primary-dark;
		border-radius: 50%;
		display: inline-block;
		position: absolute;
		left: 0;

		//hiding button when not selected
		top: -.4;

		&::after {
			content: "";
			display: block;

			height: 1.3rem;
			width: 1.3rem;
			border-radius: 50%;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			background-color: $color-primary-dark;

			//hiding button when not selected
			opacity: 0;
			transition: opacity .2s;
		}
	}

	//green dot when selected
	&__radio-input:checked ~ &__radio-label &__radio-button::after {
		//radio input cheked, pick sibling lablel, and then span element that's selected
		opacity: 1;
	}
}